---
layout: default
title: SmartCore
---
{% include navbar.html %}
<main role="main">
<div class="jumbotron bg-light rounded">
  <div class="container">
    <h1 class="display-5 text-dark text-capitalize">The most advanced machine learning library in Rust</h1>
    <p class="lead"><strong>SmartCore is a comprehensive library for machine learning and numerical computing. 
      The library provides a set of tools for linear algebra, numerical computing, optimization, and enables a generic, powerful yet still efficient approach to machine learning.</strong></strong></p>
    <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/user_guide/quick_start.html" role="button">Get Started with SmartCore »</a></p>
  </div>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">      
      <h2 class="text-dark">Supervised Learning</h2>
      <ul class="list-inline">
        <li class="list-inline-item">Linear and Logistic Regression</li>
        <li class="list-inline-item">Decision Tree Regression</li>
        <li class="list-inline-item">Random Forest Regression</li>
        <li class="list-inline-item">Decision Tree Classifier</li>
        <li class="list-inline-item">Random Forest Classifier</li>
        <li class="list-inline-item">Supervised Nearest Neighbors</li>
      </ul>            
    </div>
    <div class="col-md-4">      
      <h2 class="text-dark">Unsupervised Learning</h2>
      <ul class="list-inline">
        <li class="list-inline-item">K-Means Clustering</li>
        <li class="list-inline-item">Principal component analysis (PCA)</li>
        <li class="list-inline-item">LU Decomposition</li>
        <li class="list-inline-item">QR Decomposition</li>
        <li class="list-inline-item">Singular value decomposition (SVD)</li>
        <li class="list-inline-item">EVD Decomposition</li>        
      </ul>            
    </div>
    <div class="col-md-4">
      <h2 class="text-dark">Model Evaluation</h2>
      <ul class="list-inline">        
        <li class="list-inline-item">Model selection</li>
        <li class="list-inline-item">Metrics and scoring</li>                
        <li class="list-inline-item">Distance metrics</li>     
        <li class="list-inline-item">Toy datasets</li>
        <li class="list-inline-item">Works with ndarray and nalgebra</li>
        <li class="list-inline-item">Serializing and deserializing with Serde</li>                
      </ul>            
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p><a class="btn btn-secondary" href="{{ site.baseurl }}/user_guide/supervised.html" role="button">Go to supervised learning »</a></p>
    </div>
    <div class="col-md-4">
      <p><a class="btn btn-secondary" href="{{ site.baseurl }}/user_guide/unsupervised.html" role="button">Go to unsupervised learning »</a></p>
    </div>
    <div class="col-md-4">
      <p><a class="btn btn-secondary" href="{{ site.baseurl }}/user_guide/model_selection.html" role="button">Go to model evaluation »</a></p>
    </div>
  </div>

  {% include footer.html %}

</div>
</main>
