---
layout: default
title: SmartCore
description: The most advanced machine learning library in Rust. Classification, regression, dimensionality reduction algorithms, model selection and evaluation. Supports nalgebra and ndarray crates.
---
{% include navbar.html %}
<main role="main">
<div class="jumbotron bg-light rounded">
  <div class="container">
    <h1 class="display-5 text-dark text-capitalize">The most advanced machine learning library in Rust</h1>
    <p class="lead"><strong>SmartCore is a comprehensive library for machine learning and numerical computing. 
      The library provides a set of tools for linear algebra, numerical computing, optimization, and enables a generic, powerful yet still efficient approach to machine learning.</strong></strong></p>
    <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/user_guide/quick_start.html" role="button">Get Started with SmartCore »</a></p>
  </div>
</div>
<div class="container">  
  <div class="row">
    <div class="col-lg-4">            
      <h2 class="text-dark text-center">Supervised Learning</h2>
      <img class="card-img-top" alt="Supervised Learning" src="{{site.baseurl}}/assets/imgs/rbf_svm.svg">                        
      <p class="text-justify">Classification and regression algorithms including Linear Models, SVM, Random Forest, Naive Bayes.</p>          
      <p><a class="btn btn-secondary" href="{{ site.baseurl }}/user_guide/supervised.html" role="button">Go to supervised learning »</a></p>
    </div>
    <div class="col-lg-4"> 
      <h2 class="text-dark text-center">Unsupervised Learning</h2>
      <img class="card-img-top" alt="Supervised Learning" src="{{site.baseurl}}/assets/imgs/digits_pca.svg">        
      <p class="text-justify">Clustering and dimensionality reduction algorithms including K-Means, PCA, SVD and DBSCAN.</p>          
      <p><a class="btn btn-secondary" href="{{ site.baseurl }}/user_guide/unsupervised.html" role="button">Go to unsupervised learning »</a></p>       
    </div>
    <div class="col-lg-4">      
      <h2 class="text-dark text-center">Model Evaluation</h2>
      <img class="card-img-top" alt="Supervised Learning" src="{{site.baseurl}}/assets/imgs/cross_val_predict.svg">              
      <p class="text-justify">Tools for model selection and evaluation including k-fold CV and metrics for assessing prediction error.</p>          
      <p><a class="btn btn-secondary" href="{{ site.baseurl }}/user_guide/model_selection.html" role="button">Go to model evaluation »</a></p>  
    </div>  
  </div>

  {% include footer.html %}

</main>
