<footer class="my-md-5 pt-md-5 border-top">    
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="row">
                <img class="mr-1" alt="License Apache 2.0" src="https://img.shields.io/github/license/smartcorelib/smartcore">
                <img class="mr-1" alt="Build status" src="https://img.shields.io/circleci/build/github/smartcorelib/smartcore">
                <img class="mr-1" alt="Code coverage" src="https://img.shields.io/codecov/c/github/smartcorelib/smartcore">
                <img class="mr-1" alt="Latest version" src="https://img.shields.io/crates/v/smartcore">            
            </div>
        </div>
        <div class="col">
            <div class="d-block mb-3 text-muted text-right">
                © {{site.years_updated}} SmartCore developers            
            </div>             
        </div>  
    </div>      
</footer>