<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand text-primary font-weight-bold mt-1" href="{{ site.baseurl }}/">
    <img src="/assets/logo/smartcore.png" width="50" height="50" class="d-inline-block align-middle" alt="">
    SmartCore
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">          
      <ul class="navbar-nav mr-auto">        
        {% for item in site.data.navigation.left %}
          <li class="nav-item {% if page.url == item.link %}active{% endif %}">            
            {% if item.link contains '://' %}          
              <a class="nav-link font-weight-bold align-middle" href="{{ item.link }}">{{ item.name }}</a>
            {% else %}
              <a class="nav-link font-weight-bold align-middle" href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
            {% endif %}  
          </li> 
        {% endfor %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold align-middle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Guide
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for item in site.data.navigation.dropdown %}
              {% if item.link contains '://' %}
                <a class="dropdown-item" href="{{ item.link }}">{{ item.name }}</a>
              {% else %}
                <a class="dropdown-item" href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </li>           
      </ul>
      <ul class="navbar-nav ml-auto">                     
        {% for item in site.data.navigation.right %}
          <li class="nav-item {% if page.url == item.link %}active{% endif %}">
            {% if item.link contains '://' %}
              <a class="nav-link font-weight-bold align-middle" href="{{ item.link }}">{{ item.name }}</a>
            {% else %}
              <a class="nav-link font-weight-bold align-middle" href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a>
            {% endif %}
          </li> 
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/smartcorelab/smartcore">
            <span><i class="fab fa-github" aria-hidden="true"></i></span>
          </a>
        </li>
      </ul>
  </div>
  </div>
</nav>