---
layout: manual
title:  User Guide
description: A user's manual that will teach you how to build statistical models in Rust with Smartcore. The manual features supervised and unsupervised learning, model selection and evaluation tools.
---

<h1>User Guide</h1>
{% for item in site.data.navigation.dropdown %}
    {% if item.link contains '://' %}
        <h4><a href="{{ item.link }}">{{ item.name }}</a></h4>
    {% else %}
        <h4><a href="{{ site.baseurl }}{{ item.link }}">{{ item.name }}</a></h4>        
    {% endif %}    
{% endfor %}
 
